body, 
html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Courgette', cursive
}



/* ========= Header ======== */

header {
  text-align: center;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #384975;
  color: white;
}

div p {
  padding-bottom: 30px;
}

div h2 {
  padding-bottom: 0px;
}
h2 {
  text-align: center;
  padding: 25px;
  letter-spacing: 2px;
  font-size: 25px;
}
p {
  padding-bottom: 40px;
  margin-right: 10px;
  text-align: center;
  font-size: 20px;
  font-family: italic;
  color: #8a97a0;
}

/* ===== Form ===== */
legend {
  margin-right: 25px;
  font-weight: bold;
  box-sizing: border-box;
}

  .background button {
  transition-duration: 5s;
  transition-property: width;

}  
button:hover {
  background-color: #a99cff;

}

.info {
  padding-bottom: 50px;
  margin: 1px;
  box-sizing: border-box;
}

.contact {
  background-color: #a99cff;
  border: none;
}

.background {
  margin: 0px;
  padding: 0px; 
  border: none;
}


.line {
  border-top: 7px solid black;
  margin: 30px 70px;
}

.line2 {
  border-bottom: 2px solid black;
  margin: 30px 70px;
  padding-top: 5px;
}

.line3 {
  border-top: 2px solid black;
  padding-bottom: 15px;
  
}

form {
  max-width: 300px;
  margin: 10px auto;
  font-size: 20px;
  padding-top: 2px;
  box-sizing: border-box; 
}


input,
textarea {
  border: none;
  background-color: #e8e8e8;
  padding: 15px;
  text-align: end;
  font-size: 15px;
  border-radius: 5px;
  box-sizing: border-box;
}



  textarea {
width: 100%;
margin-top: 20px;
box-sizing: border-box;

}  


input[type="radio"] {
  margin: 2.4%;

}

fieldset {
  margin: 25px;
}

button {
  background-color: #57decc;
  color: white;
  padding: 19px 39px 18px 39px;
  text-align: center;
  width: 100%;
  font-size: 15px;
  font-style: normal;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  border: none;

 

}


select {
  padding: 15px;
  width: 100%;
  text-align: end;
  font-style: normal;
  border-radius: 5px;
  border-width: 1px 1px;
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
  background-color: #e8e8e8;
  border: none;
}

select:focus {
  background-color: wheat;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="search"] {
  color: white;
  padding: 15px;
  width: 100%;
  text-align: end;
  font-style: normal;
  border-width: 1px 1px;
  margin-bottom: 10px;

}
 
#name:focus,
#email:focus,
#number:focus,
#address:focus,
#City:focus,
#zip:focus {
  background-color: wheat;
  color: black;
  transition:  1000ms;
 
}

#name:hover,
#email:hover,
#number:hover,
#address:hover,
#City:hover,
#zip:hover {
  background-color: purple;

} 

#zip {
  width: 65%;
 
  
}

#number {
  color: white;
  padding: 15px;
  width: 100%;
  text-align: end;
  font-style: normal;
  border-width: 1px 1px;
  margin-bottom: 10px;
}

#html {
  margin: 7px;
}

::placeholder {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  text-align: end;
}

span {
  padding-left: 60px;
  margin-top: 200px;
  white-space: nowrap;
  font-size: 1rem;

}

textarea:focus {
  background-color: wheat;

  
}

.Newsletter {
  font-weight: normal;
}

.topics {
  white-space: nowrap;
 box-sizing: border-box;
}


 /* ====== Media Querys ====== */

@media (min-width: 768px) {
  form {
    max-width: 600px;
    margin: 10px auto;

  }

  .background button {
    transition-duration: 1s;
   
  
  } 
 
  button:hover {
    background-color: #a99cff;
    width: 400px;
  }
  

  .background {
    margin: 25px;

  }


  #contact {
    padding-left: 2px;
  }

  textarea {
    background-color: #e8e8e8;
    padding: 15px;
    font-size: 20px;
  }
  span {
    color: black;
    margin-left: 145px;
    font-size: 15px; 
    border: none;
  }

  label {
    margin: 20px;
    font-size: 1rem;
  }

  legend {
    margin-left: 30px;
    font-weight: bold;
  }
  button {
    background-color: #57decc; 
    color: white;
    padding: 19px 39px 18px 39px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-style: normal;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border: none;
   
  }

   .line {
    border-top: 7px solid black;
    width: 35%;
    margin: 0 auto;

  }
  
  .line2 {
    border-bottom: 2px solid black;
    width: 35%;
    margin: 0 auto;
  }

  

input[type="radio"] {
  margin: 7px;
}

.flex-container {
  white-space: nowrap;
}

 #zip  {
  margin: 5px 215px 0px 65px;
  
    }
      
  .flex-container {
    display: flex;
    align-items: center;
  }

  .flex-container label {
    flex-basis: 25%;
  }

  .flex-container input,
  .flex-container select {
    flex-basis: 75%;
    margin: 7px;
  }

  button,
  textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 100%;
 
  }


 



  .container::placeholder {
    width: 4px;
  }


    .legend {
    padding-top: 25px;
   margin-left: 1px;
  }
  .topics {
  font-weight: normal;
  margin-left: 1px;
  }

  .Newsletter {
    font-weight: normal;
  }
  .contact {
    background-color: #a99cff;
  }
}
